/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Cabeçalho */
header {
    position: relative;
    text-align: center;
}

header img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}
nav ul li:hover {
background-color: #25D366;
background: #6d61f5;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Seções */
section {
    padding: 2rem;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.button:hover {
    background: #688fe3;
}

/* Planos */
#plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.plan {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 4px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.plan img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.plan:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contato */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #555;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
/* Estilos adicionais para a seção de contato */
.contact-info {
    margin-top: 2rem;
    text-align: center;
}

.contact-info p {
    margin: 0.5rem 0;
}

.contact-info .whatsapp-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #25D366; /* Cor do WhatsApp */
    text-decoration: none;
}

.contact-info .whatsapp-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.contact-info .whatsapp-link:hover {
    color: #128C7E; /* Cor escura do WhatsApp para hover */
}
